name: OWASP Dependency-Check

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  dependency-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Find NVD Cache Path
        id: nvd-cache-path
        run: |
          mkdir -p ${{ github.workspace }}/dependency-check/data
          echo "nvd_cache_path=${{ github.workspace }}/dependency-check/data" >> $GITHUB_ENV

      - name: Restore NVD Cache
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/dependency-check/data
          key: NVDCache-${{ runner.os }} 
          restore-keys: |
            NVDCache-${{ runner.os }}

      - name: Download OWASP Dependency-Check
        run: |
          curl -L -o dependency-check.zip https://github.com/jeremylong/DependencyCheck/releases/download/v8.4.0/dependency-check-8.4.0-release.zip
          unzip dependency-check.zip -d ${{ github.workspace }}
          mv ${{ github.workspace }}/dependency-check /usr/local/bin/dependency-check

      - name: Run OWASP Dependency-Check
        run: |
          /usr/local/bin/dependency-check/bin/dependency-check.sh \
            --project HH \
            --scan ./ \
            --format ALL \
            --out ./dependency-check-report \
            --data ${{ github.workspace }}/dependency-check/data

      - name: Upload Dependency-Check Report
        uses: actions/upload-artifact@v3
        with:
          name: dependency-check-report
          path: ./dependency-check-report
